/* Apply background color for the sidebar */

/* Style for sidebar buttons */

.sidebar-button:hover {
    -fx-background-color: #E0E0E0;
}

/* Text styles */
.title-text {
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 0 20 0;
}

.status-text {
    -fx-font-size: 16px;
    -fx-text-fill: #2A4A8D;
}

.blue-colored-btn {
    -fx-background-color: linear-gradient(to right, #1A3384, #2B49B3);
    -fx-background-radius: 10px;
}

.red-colored-btn {
    -fx-background-color: linear-gradient(to right, #BB0000, #FF0000);
    -fx-background-radius: 10px;
}

.yellow-colored-btn {
    -fx-background-color: linear-gradient(to right, #99FF00, #FFFF00);
    -fx-background-radius: 10px;
}

.gray-colored-btn {
    -fx-background-color: linear-gradient(to right, #9C9C9C, #CFCFCF);
    -fx-background-radius: 10px;
}

.anchor-pane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C1C1C1;
    -fx-background-radius: 15px 0px 0px 15px;
    -fx-border-radius: 15px 15px 15px 15px;
}

.summary {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #C1C1C1;
    -fx-border-style: dashed;
}


/* General button style */
.sidebar-button {
    -fx-font-weight: bold;           /* Bold font */
    -fx-background-color: transparent; /* Default transparent background */
    -fx-text-fill: #353535;             /* Default text color */
    -fx-font-size: 14px;              /* Text size */
    -fx-padding: 10 20 10 20;         /* Padding around the text with 20px on the left */
    -fx-alignment: center-left;       /* Align text to the left */
    -fx-font-size: 14px;
    -fx-pref-width: 180px;
}

/* Style for the selected button */
.sidebar-button.selected {
    -fx-background-color: #E3F2FD; /* Slight blue foreground color */
    -fx-text-fill: #0D47A1;        /* Font color blue */
    -fx-border-width: 0 4px 0 0;  /* Blue vertical bar on the right */
    -fx-border-color: transparent #0D47A1 transparent transparent; 
}
