/* Apply background color for the sidebar */

/* Style for sidebar buttons */

/* Text styles */
.title-text {
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 0 20 0;
}

.status-text {
    -fx-font-size: 16px;
    -fx-text-fill: #2A4A8D;
}

.blue-colored-btn {
    -fx-background-color: linear-gradient(to right, #1A3384, #2B49B3);
    -fx-background-radius: 10px;
}

.red-colored-btn {
    -fx-background-color: linear-gradient(to right, #BB0000, #FF0000);
    -fx-background-radius: 10px;
}

.yellow-colored-btn {
    -fx-background-color: linear-gradient(to right, #99FF00, #FFFF00);
    -fx-background-radius: 10px;
}

.gray-colored-btn {
    -fx-background-color: linear-gradient(to right, #9C9C9C, #CFCFCF);
    -fx-background-radius: 10px;
}

.anchor-pane {
    -fx-background-color: #fafafa;
    -fx-border-color: #C1C1C1;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.summary {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #C1C1C1;
    -fx-border-style: dashed;
}


/* General button style */
.sidebar-button {
    -fx-background-color: transparent; /* Default transparent background */
    -fx-text-fill: #353535;             /* Default text color */
    -fx-padding: 10 20 10 20;         
    -fx-alignment: center;
    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
    -fx-icon-size: 30px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.sidebar-icon {
    -fx-icon-size: 30px;
}

.sidebar-big-icon {
    -fx-icon-size: 80px;
}

/* Style for the selected button */
.sidebar-button.selected {
    -fx-background-color: #49b3ff; /* Slight blue foreground color */
    -fx-text-fill: #0D47A1;        /* Font color blue */
}

.sidebar-button.selected .sidebar-icon {
    -fx-icon-color: white; /* Inverted icon color */
}

.sidebar-button:hover {
    -fx-background-color: #b4b4b4;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .table-row-cell {
    -fx-border-width: 0 0 1px 0; /* Remove vertical borders, keep horizontal lines */
    -fx-border-color: transparent; /* Make vertical borders invisible */
}
