/* Text styles */
.title-text {
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 0 20 0;
}

.status-text {
    -fx-font-size: 16px;
    -fx-text-fill: #2A4A8D;
}

.blue-colored-btn {
    -fx-background-color: linear-gradient(to right, #1A3384, #2B49B3);
    -fx-background-radius: 10px;
}

/* Anchor pane styles */
.table-pane {
    -fx-background-color: -color-bg-default;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 0;
}

.anchor-pane {
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 0;
}

.text-field {
    -fx-background-color: -color-neutral-subtle;
    -fx-border-color: -color-border-default;
    -fx-border-width: 2;        /* Visible border width */
    -fx-padding: 5;             /* Adjust padding for better appearance */
}


/* Summary box styles */
.summary {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: -color-border-default;
    -fx-border-style: dashed;
}

.circle-button {
    -fx-background-color: -color-accent-4; 
    -fx-text-fill: #353535;           
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}

.circle-button:hover {
    -fx-background-color: -color-accent-4;
}

/* Sidebar button styles */
.sidebar-button {
    -fx-background-color: transparent; /* Default transparent background */
    -fx-text-fill: #353535;            /* Default text color */
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-pref-width: 64px;
    -fx-pref-height: 64px;
    -fx-icon-size: 30px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.sidebar-button .sidebar-icon {
    -fx-icon-color: -color-fg-muted;
}

/* Selected sidebar button */
.sidebar-button.selected {
    -fx-background-color: -color-accent-4; /* Slight blue foreground color */
}

.sidebar-button.selected .sidebar-icon {
    -fx-icon-color: -color-bg-default; /* Inverted icon color */
}

.sidebar-button.selected .sidebar-medium-icon {
    -fx-icon-color: -color-bg-default; /* Inverted icon color */
}

/* Sidebar button hover state */
.sidebar-button:hover {
    -fx-background-color: -color-fg-subtle;
}

/* Sidebar icon styles */
.sidebar-icon {
    -fx-icon-size: 30px;
}

.sidebar-big-icon {
    -fx-icon-size: 80px;
}

.sidebar-medium-icon {
    -fx-icon-size: 50px;
}

.sidebar-medium-icon {
    -fx-icon-size: 50px;
}



/* Table view styles */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: -color-border-default;
    -fx-border-width: 0;
    -fx-border-radius: 5px;
}

/* Table header and row styles */
.table-view .column-header,
.table-view .column-header-background,
.table-view .table-row-cell {
    -fx-border-width: 0 0 1px 0; /* Remove vertical borders, keep horizontal lines */
    -fx-border-color: transparent; /* Make vertical borders invisible */
}

.table-view .column-header {
    -fx-alignment: CENTER; /* Options: CENTER, CENTER-LEFT, CENTER-RIGHT */
    -fx-padding: 5px; /* Optional padding */
}

.table-row-cell:hover {
    -fx-background-color: -color-border-default;
}

.table-row-cell:selected {
    -fx-background-color: -color-accent-4;
    -fx-text-fill: #FFFFFF;
}

.button:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: not-allowed;
}

.text-field:focused {
    -fx-border-color: -color-accent-4;
    -fx-border-width: 2px;
}

.text-field {
    -fx-background-radius: 5px;
    -fx-border-color: -color-border-default;
    -fx-padding: 20px;
}

.combo-box {
    -fx-background-radius: 5px;
    -fx-border-color: -color-border-default;
    -fx-padding: 10px;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: -color-accent-3;
    -fx-background-radius: 5px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: -color-accent-4;
}
